Backups/dubsense.bat
Backups/dubsense.vbs
Backups/dubsense_actions.pyw
Backups/backup_working.py
Backups/backup_working_onnx.py
config/config.json
dubsense.png
dubsense.spec
pyinstaller_dubsense.bat
__pycache__/hook-paddleocr.cpython-310.pyc
build/dubsense/Analysis-00.toc
build/dubsense/base_library.zip
build/dubsense/dubsense.pkg
build/dubsense/EXE-00.toc
build/dubsense/PKG-00.toc
build/dubsense/PYZ-00.pyz
build/dubsense/PYZ-00.toc
build/dubsense/warn-dubsense.txt
build/dubsense/xref-dubsense.html
build/dubsense/localpycs/pyimod01_archive.pyc
build/dubsense/localpycs/pyimod02_importers.pyc
build/dubsense/localpycs/pyimod03_ctypes.pyc
build/dubsense/localpycs/pyimod04_pywin32.pyc
build/dubsense/localpycs/struct.pyc
dist/dubsense.exe
Models/cls.onnx
Models/det.onnx
Models/model.onnx
Models/model.onnx.data
Models/rec.onnx
build/dubsense(1)/Analysis-00.toc
build/dubsense(1)/base_library.zip
build/dubsense(1)/dubsense.pkg
build/dubsense(1)/EXE-00.toc
build/dubsense(1)/PKG-00.toc
build/dubsense(1)/PYZ-00.pyz
build/dubsense(1)/PYZ-00.toc
